@model IEnumerable<GreenfieldLocalHubWebApp.Models.shoppingCartItems>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.unitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shoppingCart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.unitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shoppingCart.shoppingCartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.products.productsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.shoppingCartItemsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.shoppingCartItemsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.shoppingCartItemsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
