@model GreenfieldLocalHubWebApp.Models.loyaltyTransaction

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>loyaltyTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loyaltyPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loyaltyPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.transactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loyaltyAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loyaltyAccount.loyaltyAccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orders.ordersId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="loyaltyTransactionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
