@model IEnumerable<GreenfieldLocalHubWebApp.Models.loyaltyTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.loyaltyPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loyaltyAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.loyaltyPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loyaltyAccount.loyaltyAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orders.ordersId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.loyaltyTransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.loyaltyTransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.loyaltyTransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
